@font-face {
    font-family: ALSStory;
    src: url(als_story_bold-webfont.eot);
    src: url(als_story_bold-webfont.eot?#iefix) format('embedded-opentype'), url(als_story_bold-webfont.woff) format('woff'), url(als_story_bold-webfont.ttf) format('truetype'), url(als_story_bold-webfont.svg#als_storybold) format('svg');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: ALSStory;
    src: url(als_story_regular-webfont.eot);
    src: url(als_story_regular-webfont.eot?#iefix) format('embedded-opentype'), url(als_story_regular-webfont.woff) format('woff'), url(als_story_regular-webfont.ttf) format('truetype'), url(als_story_regular-webfont.svg#als_storyregular) format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
  font-family: 'OSRoboto';
  src: url('roboto-condensed.eot?#iefix') format('embedded-opentype'),  url('roboto-condensed.woff') format('woff'), url('roboto-condensed.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OSRoboto';
  src: url('roboto-boldcondensed.eot?#iefix') format('embedded-opentype'),  url('roboto-boldcondensed.woff') format('woff'), url('roboto-boldcondensed.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OSRobotoMono';
  src: url('robotomono-regular.eot?#iefix') format('embedded-opentype'),  url('robotomono-regular.woff') format('woff'), url('robotomono-regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


div.narrow{
    top:42px;
}
.fixed{
    position:fixed;
}
/*body {*/
                /*margin: 0;*/
                /*padding: 0;*/
                /*width: 100%;*/
                /*display: table;*/
                /*font-weight: 100;*/
                /*font-family: "Arial Narrow",'ALSStory', 'Helvetica CY', 'sans-serif';*/
            /*}*/

            /*.container {*/
                /*display: table-cell;*/
                /*vertical-align: middle;*/
            /*}*/

            /*.content {*/
                /*display: inline-block;*/
            /*}*/

            .title {
                font-size: 45px;
            }
            .ul{
                margin: 10px 0 0 0;
            }
            .li{
                text-align: left ;
                font-size:small;
                font-family: "Arial Narrow",'ALSStory', 'Helvetica CY', 'sans-serif';

            }

            .blue{
            color: #247CB4;
            }
            .green{
            color: green;
            }
            .red{
            color: #DB534F;
            font-weight: bold;
            }
            .t-arial{
                font-size:small;
                font-family: "Arial Narrow",'ALSStory', 'Helvetica CY', 'sans-serif';
            }
            .t-osrobo{
                font-family: "OSRoboto",'ALSStory', 'Helvetica CY', 'sans-serif';
            }
            .t-stroy{
                font-family: 'ALSStory', 'Helvetica CY', 'sans-serif';
            }
            .body{
                position: relative;

            }
        .scrollspy-example{
            /*overflow-y: scroll;*/
            margin-top:20px;
            height:400px;
            overflow:auto;
        }
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid darkslategray;
}

::-webkit-scrollbar-thumb {
background: darkslategray;
}
.clickable{
    padding:10px;
    border-color: black;
    border-width: thin;
    border-style: solid;
}